<?xml version="1.0" encoding="UTF-8" ?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-apkupdater" version="2.0.2">

    <name>Apk Updater</name>
    <license>MIT</license>
    <author>Michael Jedich</author>

    <description>
        This plugin allows your Android app to download and install compressed updates without the Google Play Store.
    </description>
    <keywords>apk,updater,downloader,installer,play-store</keywords>

    <engines>
        <engine name="cordova" version=">=8.1.0"/>
        <engine name="cordova-android" version=">=9.0.0"/>
    </engines>

    <hook type="after_plugin_add" src="src/nodejs/hooks/before-plugin-add.js" />
    <hook type="before_prepare" src="src/nodejs/hooks/before-prepare.js" />

    <js-module src="www/ApkUpdater.js" name="ApkUpdater">
        <clobbers target="window.ApkUpdater"/>
    </js-module>
    <js-module src="www/API.js" name="API"/>

    <platform name="android">

        <framework src="net.lingala.zip4j:zip4j:2.9.0"/>
        <framework src="androidx.core:core:1.6.0" />
        <config-file target="config.xml" parent="/*">
            <preference name="AndroidXEnabled" value="true" />
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ApkUpdater">
                <param name="android-package" value="de.kolbasa.apkupdater.ApkUpdater"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>

        <config-file target="AndroidManifest.xml" mode="merge" parent="/manifest/application">
            <provider android:name="androidx.core.content.FileProvider"
                      android:authorities="${applicationId}.apkupdater.provider"
                      android:exported="false"
                      android:grantUriPermissions="true">
                <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                           android:resource="@xml/apkupdater_paths">
                </meta-data>
            </provider>
        </config-file>

        <source-file src="res/apkupdater_paths.xml" target-dir="res/xml"/>
        <source-file src="src/android/ApkUpdater.java" target-dir="src/de/kolbasa/apkupdater"/>
        <source-file src="src/android/cordova/StackExtractor.java" target-dir="src/de/kolbasa/apkupdater/cordova"/>
        <source-file src="src/android/downloader/FileDownloader.java" target-dir="src/de/kolbasa/apkupdater/downloader"/>
        <source-file src="src/android/downloader/Progress.java" target-dir="src/de/kolbasa/apkupdater/downloader"/>
        <source-file src="src/android/exceptions/DownloadInProgressException.java" target-dir="src/de/kolbasa/apkupdater/exceptions"/>
        <source-file src="src/android/exceptions/DownloadNotRunningException.java" target-dir="src/de/kolbasa/apkupdater/exceptions"/>
        <source-file src="src/android/exceptions/InstallationFailedException.java" target-dir="src/de/kolbasa/apkupdater/exceptions"/>
        <source-file src="src/android/exceptions/PlatformNotSupportedException.java" target-dir="src/de/kolbasa/apkupdater/exceptions"/>
        <source-file src="src/android/exceptions/UpdateNotFoundException.java" target-dir="src/de/kolbasa/apkupdater/exceptions"/>
        <source-file src="src/android/tools/ApkInstaller.java" target-dir="src/de/kolbasa/apkupdater/tools"/>
        <source-file src="src/android/tools/AppData.java" target-dir="src/de/kolbasa/apkupdater/tools"/>
        <source-file src="src/android/tools/ChecksumGenerator.java" target-dir="src/de/kolbasa/apkupdater/tools"/>
        <source-file src="src/android/tools/FileTools.java" target-dir="src/de/kolbasa/apkupdater/tools"/>
        <source-file src="src/android/tools/Unzipper.java" target-dir="src/de/kolbasa/apkupdater/tools"/>
        <source-file src="src/android/update/Update.java" target-dir="src/de/kolbasa/apkupdater/update"/>
        <source-file src="src/android/update/UpdateManager.java" target-dir="src/de/kolbasa/apkupdater/update"/>

    </platform>

</plugin>
