<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-apkupdater-demo" version="1.0.0">
    <name>Cordova ApkUpdater Plugin Tests</name>
    <license>MIT</license>
    <author>Michael Jedich</author>

    <description>TODO</description>
    <keywords>TODO</keywords>

    <js-module src="tests.js" name="tests">
        <clobbers target="cordova.plugins.apkupdater-tests"/>
    </js-module>
</plugin>
